body{
    margin:0;
}
.rules {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    border-bottom: solid 2px indianred;
    padding: 1.4em 1em;
    background: ghostwhite;
}

.rules select, .rules button {
    margin-left: 1em;
}
.rules button {
    vertical-align: middle;
}
.rules button img {
    width: 25px;
    height: 25px;
}
.list{
    padding: 0 1em;
}
.btn-to-last{
    position: fixed;
    right: 3em;
}
.el{
    background: white;
}
.el span {
    font-weight: bold;
}

.loader__wrapper, .error__wrapper {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around
}

.loader__wrapper>div, .error__wrapper>div {
    width: fit-content;
    margin: 30vh auto;
    border: solid 2px indianred;
    padding: 1em;
    background: #fff;
}
.error__wrapper>div{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.error__wrapper>div>p, .error__wrapper>div>span{
    margin: 0.3em;
}
footer{
    margin: 1em;
    font-size: 1.2em;
}